<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!-- Acceso a todos los archivos: necesario en Android 11+ (targetSdk 34) para leer/escribir en
         la carpeta pública Descargas/Crystal (medidas, respaldo de proyectos), fuera del sandbox. -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".CrystalApp"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:debuggable="false"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/i_tu2_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/i_tu2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,HardcodedDebugMode"
        tools:targetApi="p">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="crystal_messages" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_crystal_notification" />
        <activity
            android:name=".ContratoActivity"
            android:exported="false"
            android:label="Contrato"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".taller.MedidaActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.crystal.medidas+json" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/vnd.crystal.medidas+json" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clientes.GestionClientesActivity"
            android:exported="false"
            android:label="Gestión de Clientes"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".productos.GestionProductosActivity"
            android:label="Gestión de Productos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pos.ReportesActivity"
            android:label="Reportes de ventas"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".red.PedidosActivity"
            android:label="Pedidos en espera"
            android:parentActivityName=".red.ListChatActivity" />
        <activity
            android:name=".comprobantes.DisenoTicketActivity"
            android:exported="true"
            android:label="Diseño de Ticket"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".registro.TerminalLoginActivity"
            android:exported="false" />
        <activity
            android:name=".registro.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".registro.GestionDispositivosActivity"
            android:exported="false" />
        <activity
            android:name=".registro.AyudaActivity"
            android:exported="false" />
        <activity
            android:name=".registro.PinAuthActivity"
            android:exported="false" />
        <!-- Las pantallas de cobro (WalletActivity, PlanSelectionActivity, ReclamoRecargaActivity)
             se declaran en src/directo/AndroidManifest.xml: no existen en la build de Play. -->
        <activity
            android:name=".taller.puerta.PuertasActivity"
            android:exported="false" />
        <activity
            android:name=".dictado.DictadoActivity"
            android:exported="false"
            android:label="Dictado de Medidas"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Diseno.BarandaActivity"
            android:exported="false" />
        <activity
            android:name=".Diseno.nova.DisenoNovaActivity"
            android:exported="false"
            android:label="Diseño Nova" />
        <activity
            android:name=".Diseno.vitroven.VitroActivity"
            android:exported="false"
            android:label="Diseo Vitro" />
        <activity
            android:name=".red.VisorArchivoActivity"
            android:exported="false" />
        <activity
            android:name=".ocr.OcrActivity"
            android:exported="false" />
        <activity
            android:name=".taller.DivisionBanoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".taller.PDuchaActivity"
            android:exported="false" />
        <activity
            android:name=".taller.mamparas.MamparaVidrioActivity"
            android:exported="false" />
        <activity
            android:name=".taller.RejasActivity"
            android:exported="false" />
        <activity
            android:name=".Diseno.DisenoActivity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".taller.Serie20"
            android:exported="false" />
        <activity
            android:name=".registro.InicioActivity"
            android:exported="false" />
        <activity
            android:name=".catalogo.SubirActivity"
            android:exported="false" />
        <activity
            android:name=".optimizadores.OptimizadosActivity"
            android:exported="false" />
        <activity
            android:name=".optimizadores.planchas.OptimizacionPlanchasActivity"
            android:exported="false" />
        <activity
            android:name=".optimizadores.planchas.ResultadoPlanchasActivity"
            android:exported="false" />
        <activity
            android:name=".optimizadores.corte.ResultadoOptimizacionActivity"
            android:exported="false" />
        <activity
            android:name=".BaulActivity"
            android:exported="false" />
        <activity
            android:name=".taller.Muro"
            android:exported="false" />
        <activity
            android:name=".taller.EditGridActivity"
            android:exported="false" />
        <activity
            android:name=".red.ChatActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="CRYSTAL_OPEN_CHAT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".red.ListChatActivity"
            android:exported="false" />
        <activity
            android:name=".optimizadores.corte.CorteActivity"
            android:exported="false" />
        <activity
            android:name=".taller.PivotAl"
            android:exported="false" />
        <activity
            android:name=".taller.venAl.VentanaAl"
            android:exported="false" />
        <activity
            android:name=".registro.Acliente"
            android:exported="false" />
        <activity
            android:name=".optimizadores.VidrioCurvoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".taller.FichaActivity" />
        <activity android:name=".registro.Registro" />
        <activity android:name=".taller.Vitroven" />
        <activity
            android:name=".taller.mamparas.MamparaFC"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".catalogo.CatalogoActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".catalogo.Fotos"
            android:exported="false" />
        <activity
            android:name=".taller.mamparas.MamparaPaflon"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".taller.nova.NovaCorrediza"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity android:name=".taller.Taller" />
        <activity android:name=".datos.ListaActivity" />
        <activity
            android:name=".VendePapa"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Splash"
            android:exported="true"
            android:theme="@style/nuevosplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/json" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/json" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".red.CrystalFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>
